nodered_data/.flows.json.backup
[{"id":"f6f2187d.f17ca8","type":"tab","label":"START","disabled":false,"info":""},{"id":"a2c63b09.0131c8","type":"tab","label":"AS USER SERVICES","disabled":false,"info":""},{"id":"d20953eb.d27e4","type":"tab","label":"AS APPLICATIONS SERVICES","disabled":false,"info":""},{"id":"1e34e0d6.03c12f","type":"subflow","name":"CHECK AS TOCKEN","info":"","category":"","in":[{"x":420,"y":80,"wires":[{"id":"132510c7.e085df"}]}],"out":[{"x":680,"y":160,"wires":[{"id":"2d941934.f1c776","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ce639fcd.908a2","type":"MySQLdatabase","name":"as-db","host":"10.5.0.5","port":"3306","db":"as-db","tz":"","charset":"UTF8"},{"id":"dac468d3.f007c8","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":530,"y":100,"wires":[["a8d2db08.9351a8"]]},{"id":"a8d2db08.9351a8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"cfbb1ee1.83a21","type":"function","z":"f6f2187d.f17ca8","name":"TABLES CREATION","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = {};\nmsg.topic = `\nCREATE TABLE IF NOT EXISTS application (\n  uid varchar(255) PRIMARY KEY,\n  name varchar(255),\n  code varchar(255),\n  enabled char(1) DEFAULT 'Y',\n  issystem char(1) DEFAULT 'N',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255)\n);\n\nCREATE TABLE IF NOT EXISTS user (\n  uid varchar(255) PRIMARY KEY,\n  username varchar(255),\n  email varchar(255) NOT NULL,\n  password varchar(255) NOT NULL,\n  issystem char(1) DEFAULT 'N',\n  isadmin char(1) DEFAULT 'N',\n  enabled char(1) DEFAULT 'Y',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255),\n  application_uid varchar(255),\n  FOREIGN KEY (application_uid) REFERENCES application(uid) ON DELETE CASCADE\n);\n\nCREATE TABLE IF NOT EXISTS session (\n  uid varchar(255) PRIMARY KEY,\n  token text,\n  expiredin varchar(255),\n  enabled char(1) DEFAULT 'Y',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255),\n  user_uid varchar(255),\n  application_uid varchar(255),\n  FOREIGN KEY (user_uid) REFERENCES user(uid) ON DELETE CASCADE,\n  FOREIGN KEY (application_uid) REFERENCES application(uid) ON DELETE CASCADE\n);\n\nCREATE TABLE IF NOT EXISTS as_application_user (\n  as_application_uid varchar(255),\n  as_user_uid varchar(255),\n  enabled char(1) DEFAULT 'Y',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255),\n  CONSTRAINT PK_Person PRIMARY KEY (as_application_uid,as_user_uid),\n  FOREIGN KEY (as_application_uid) REFERENCES application(uid) ON DELETE CASCADE,\n  FOREIGN KEY (as_user_uid) REFERENCES user(uid) ON DELETE CASCADE\n);`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["dac468d3.f007c8"]]},{"id":"d823a62f.100f98","type":"comment","z":"f6f2187d.f17ca8","name":"TABLES GENERATION","info":"Creo le tabelle se non esistono","x":140,"y":60,"wires":[]},{"id":"11fcf7c0.688718","type":"inject","z":"f6f2187d.f17ca8","name":"AVVIO DEL SERVER","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payloadType":"str","x":140,"y":100,"wires":[["cfbb1ee1.83a21"]]},{"id":"2c1d26c9.0a49da","type":"comment","z":"f6f2187d.f17ca8","name":"CHECK IF SYSTEM USER EXISTS","info":"","x":180,"y":160,"wires":[]},{"id":"74c28834.99a768","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM user WHERE issystem = 'Y' AND enabled = 'N'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["a8646f2c.bf7c7"]]},{"id":"a8646f2c.bf7c7","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"as-db","x":510,"y":200,"wires":[["eeb8eca3.23f8d"]],"outputLabels":["msg"]},{"id":"55663871.918b38","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"eeb8eca3.23f8d","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":280,"wires":[["a294dc7d.fa02f"]]},{"id":"83d3f528.c053e8","type":"function","z":"f6f2187d.f17ca8","name":"CREATE SYSTEM USER","func":"let uid = msg.payload;\nmsg.payload = {};\nmsg.payload.uid = uid;\nmsg.payload.username = 'SYSTEM';\nmsg.payload.email = 'system@system.it';\nmsg.payload.password = 'syspwd';\nmsg.payload.issystem = 'Y';\nmsg.payload.isadmin = 'Y';\nmsg.payload.enable = 'N';\nmsg.payload.createdby = uid;\nmsg.payload.updatedby = uid;\nmsg.topic = \"INSERT INTO user (`uid`, `username`, `email`, `password`, `issystem`, `isadmin`, `enabled`, `createdby`, `updatedby`)\"+\n            \"VALUES (:uid, :username, :email, :password, :issystem, :isadmin, :enable, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":280,"wires":[["294a1a72.ce3756"]]},{"id":"a294dc7d.fa02f","type":"uuid","z":"f6f2187d.f17ca8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload","fieldType":"msg","x":270,"y":280,"wires":[["83d3f528.c053e8"]]},{"id":"9e4abe70.df459","type":"comment","z":"f6f2187d.f17ca8","name":"CHECK IF APPLICATION SYS EXISTS","info":"","x":190,"y":340,"wires":[]},{"id":"4ea5075b.3fa458","type":"inject","z":"f6f2187d.f17ca8","name":"SYSTEM APPLICATION","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","x":150,"y":380,"wires":[["13c7e7cf.574808"]]},{"id":"13c7e7cf.574808","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM APPLICATION UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM application WHERE issystem = 'Y' AND enabled = 'Y'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["b808d9cb.1c26f8"]]},{"id":"b808d9cb.1c26f8","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":630,"y":380,"wires":[["3bf71bf6.a96ae4"]]},{"id":"790d13a6.0be3bc","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"3bf71bf6.a96ae4","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":460,"wires":[["549d0eb5.2621f"]]},{"id":"294a1a72.ce3756","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":650,"y":280,"wires":[["55663871.918b38"]]},{"id":"ace0b884.f7d2e8","type":"comment","z":"f6f2187d.f17ca8","name":"IF SYS USER DOESN'T EXISTS","info":"","x":190,"y":240,"wires":[]},{"id":"edc01346.b3a02","type":"comment","z":"f6f2187d.f17ca8","name":"IF APPLICATION SYS DOESN'T EXISTS","info":"","x":220,"y":420,"wires":[]},{"id":"549d0eb5.2621f","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM user WHERE issystem = 'Y' AND enabled = 'N'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":460,"wires":[["2a7dfeae.28d8e2"]]},{"id":"2a7dfeae.28d8e2","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"as-db","x":490,"y":460,"wires":[["a05a519a.41379"]],"outputLabels":["msg"]},{"id":"a05a519a.41379","type":"function","z":"f6f2187d.f17ca8","name":"SAVE SYSTEM USER UID","func":"flow.set(\"SYS_USER_UID\", msg.payload[0].uid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":460,"wires":[["6bec6507.ff0c0c"]]},{"id":"6bec6507.ff0c0c","type":"uuid","z":"f6f2187d.f17ca8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload","fieldType":"msg","x":890,"y":460,"wires":[["aa2f4bd2.009698"]]},{"id":"82ccc313.d266e","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":450,"y":520,"wires":[["790d13a6.0be3bc"]]},{"id":"aa2f4bd2.009698","type":"function","z":"f6f2187d.f17ca8","name":"CREATE SYSTEM APPLICATION","func":"let SystemUserUid = flow.get(\"SYS_USER_UID\");\nlet uid = msg.payload;\nmsg.payload = {};\nmsg.payload.applicationuid = uid;\nmsg.payload.name = 'Authorization Service';\nmsg.payload.code = '0000000000';\nmsg.payload.enabled = 'Y';\nmsg.payload.issystem = 'Y';\nmsg.payload.createdby = SystemUserUid;\nmsg.payload.updatedby = SystemUserUid;\nmsg.topic = \"INSERT INTO application (`uid`, `name`, `code`, `enabled`, `issystem`, `createdby`, `updatedby`)\"+\n            \"VALUES (:applicationuid, :name, :code, :enabled, :issystem, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":520,"wires":[["82ccc313.d266e"]]},{"id":"3134a704.547138","type":"inject","z":"f6f2187d.f17ca8","name":"SYSTEM USER","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":120,"y":200,"wires":[["74c28834.99a768"]]},{"id":"dd43d80c.b26f18","type":"inject","z":"f6f2187d.f17ca8","name":"SYSTEM ID","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":110,"y":580,"wires":[["bd901deb.47d57"]]},{"id":"bd901deb.47d57","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM APPLICATION UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM application WHERE issystem = 'Y' AND enabled = 'Y'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":580,"wires":[["1d5f0e96.5d9cc1"]]},{"id":"1d5f0e96.5d9cc1","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":550,"y":580,"wires":[["82f0ce2d.cee1d"]]},{"id":"82f0ce2d.cee1d","type":"function","z":"f6f2187d.f17ca8","name":"SAVE APPLICATION UID ON GLOBAL","func":"global.set(\"SYS_APPLICATION_UID\", msg.payload[0].uid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":580,"wires":[["7432c3f0.80e9ac"]]},{"id":"7432c3f0.80e9ac","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM user WHERE issystem = 'Y' AND enabled = 'N'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":640,"wires":[["3a336360.0a0a3c"]]},{"id":"3a336360.0a0a3c","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"as-db","x":370,"y":640,"wires":[["d045486.fea21b8"]],"outputLabels":["msg"]},{"id":"d045486.fea21b8","type":"function","z":"f6f2187d.f17ca8","name":"SAVE SYSTEM USER UID ON GLOBAL","func":"global.set(\"SYS_USER_UID\", msg.payload[0].uid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":640,"wires":[["448710d3.dba86"]]},{"id":"448710d3.dba86","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":640,"wires":[]},{"id":"ea02505c.b8516","type":"function","z":"a2c63b09.0131c8","name":"CheckUserData","func":"let user = msg.payload;\nif (user.email == user.emailCheck && user.password == user.passwordCheck) {\n    msg.payload.isok = 1;\n    flow.set(\"USER\", msg.payload);\n} else {\n    msg.payload.isok = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["b1dc53f2.7e5da"]]},{"id":"b1dc53f2.7e5da","type":"switch","z":"a2c63b09.0131c8","name":"ValidUser?","property":"payload.isok","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":200,"wires":[["cace62b9.d458a"],["d1f228b0.94d688"]]},{"id":"7f2c0a4a.651c34","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":160,"wires":[["e92db04f.d1ef7"]]},{"id":"e92db04f.d1ef7","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":1060,"y":160,"wires":[]},{"id":"cace62b9.d458a","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"NO CORRESPONDENCE\",\n    \"code\": 100,\n    \"message\": \"L'email o la password non corrispondono\"\n}","output":"str","x":650,"y":160,"wires":[["7f2c0a4a.651c34"]]},{"id":"b7625f29.4bd5d","type":"http in","z":"a2c63b09.0131c8","name":"RegisterASUser","url":"/service/as/register","method":"post","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["ea02505c.b8516"]]},{"id":"9eba5dc6.8e02f","type":"catch","z":"a2c63b09.0131c8","name":"ERRORE","scope":["ea02505c.b8516","b1dc53f2.7e5da","7f2c0a4a.651c34","e92db04f.d1ef7","cace62b9.d458a","b7625f29.4bd5d","2e319610.a4ceba","a7f09e2f.4e2ab","d1f228b0.94d688","a52acba6.ab6148","2fcff6b6.fe8fca","75e751c.6ebc6b","483d02c2.10ed3c","45167615.a53658","69bdde5b.37398"],"uncaught":false,"x":800,"y":380,"wires":[["a7f09e2f.4e2ab"]]},{"id":"2e319610.a4ceba","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":1160,"y":380,"wires":[]},{"id":"a7f09e2f.4e2ab","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"ERROR ON REGISTER USER\",\n    \"code\": 100,\n    \"message\": \"C'è stato un errore nel regisrare l'utente\",\n    \"info\": \"ERROR\"\n}","output":"json","x":970,"y":380,"wires":[["2e319610.a4ceba"]]},{"id":"d1f228b0.94d688","type":"function","z":"a2c63b09.0131c8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload.application_uid = global.get(\"SYS_APPLICATION_UID\")\nmsg.topic = `SELECT COUNT(uid) as numberusers FROM user WHERE application_uid = :application_uid AND email = :email`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["a52acba6.ab6148"]]},{"id":"a52acba6.ab6148","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":530,"y":200,"wires":[["2fcff6b6.fe8fca"]],"outputLabels":["msg"]},{"id":"2fcff6b6.fe8fca","type":"switch","z":"a2c63b09.0131c8","name":"AlreadyExists?","property":"payload[0].numberusers","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":280,"wires":[["75e751c.6ebc6b"],["6d5f71d8.e3cad"]]},{"id":"75e751c.6ebc6b","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"ALREADY EXISTS\",\n    \"code\": 100,\n    \"message\": \"L'email inserita è già associata ad un utente\"\n}","output":"str","x":550,"y":260,"wires":[["483d02c2.10ed3c"]]},{"id":"483d02c2.10ed3c","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["45167615.a53658"]]},{"id":"45167615.a53658","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":960,"y":260,"wires":[]},{"id":"6ca99322.d32c9c","type":"comment","z":"a2c63b09.0131c8","name":"SING IN A NEW AS USER","info":"","x":150,"y":80,"wires":[]},{"id":"a698d747.729878","type":"comment","z":"a2c63b09.0131c8","name":"CONTROLLO SE I CAMPI INSERITI CORRISPONDONO","info":"","x":290,"y":160,"wires":[]},{"id":"4d41dd0f.94b6d4","type":"comment","z":"a2c63b09.0131c8","name":"CONTROLLO SE L'UTENTE ESISTE GIA'","info":"","x":280,"y":240,"wires":[]},{"id":"58ed4d67.0f7854","type":"e-mail","z":"a2c63b09.0131c8","server":"smtp.vivaldi.net","port":"465","secure":true,"tls":true,"name":"","dname":"VIVALDI EMAIL","x":600,"y":380,"wires":[]},{"id":"cd01d7b1.8d9858","type":"function","z":"a2c63b09.0131c8","name":"Set recipient","func":"msg.topic = \"Conferma registrazione\"\nmsg.to = \"saverio.dibellasdb98@gmail.com\"\nmsg.from = \"dibe98@vivaldi.net\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":380,"wires":[["58ed4d67.0f7854","113fe4b3.1b4a9b"]]},{"id":"404951ac.0aba2","type":"template","z":"a2c63b09.0131c8","name":"HTML EMAIL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Registrazione</title>\n    </head>\n    <body>\n        <h1>Fai click sul link qua sotto per comnfermare la tua registrazione</h1>\n        \n        <p>Conferma registrazione: {{payload.confirmLink}}</p>\n    </body>\n</html>","output":"str","x":240,"y":380,"wires":[["cd01d7b1.8d9858"]]},{"id":"5cc48da3.bbd584","type":"function","z":"a2c63b09.0131c8","name":"CREATE CONFIRM LINK","func":"let token = msg.payload;\nmsg.payload = {};\nmsg.payload.confirmLink = `http://localhost:1880/register/confirm/${token}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":320,"wires":[["404951ac.0aba2"]]},{"id":"811e193b.a678a8","type":"function","z":"a2c63b09.0131c8","name":"PREPER TOKEN DATA","func":"let user = flow.get(\"USER\");\nmsg.payload = user\ndelete user.emailCheck;\ndelete user.passwordCheck;\ndelete user.isok;\nflow.set(\"USER\", user);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["bb9c6f92.b3aec"]]},{"id":"bb9c6f92.b3aec","type":"jwt sign","z":"a2c63b09.0131c8","name":"JWT Sign","alg":"RS512","exp":"600000","jwkurl":"","jwkkid":"rsa_priv_key","secret":"","key":"/data/keys/jwt/id_rsa","signvar":"payload","storetoken":"payload","x":720,"y":320,"wires":[["5cc48da3.bbd584"]]},{"id":"113fe4b3.1b4a9b","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"code\": 200,\n    \"message\": \"Confermare registrazione. Abbiamo inviato una email al tuo indirizzo\"\n}","output":"str","x":270,"y":440,"wires":[["a0a9f42.4877c08"]]},{"id":"a0a9f42.4877c08","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["8b7d3b21.051d58"]]},{"id":"8b7d3b21.051d58","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":680,"y":440,"wires":[]},{"id":"6d5f71d8.e3cad","type":"md5","z":"a2c63b09.0131c8","name":"","fieldToHash":"USER.password","fieldTypeToHash":"flow","hashField":"USER.password","hashFieldType":"flow","x":350,"y":320,"wires":[["811e193b.a678a8"]]},{"id":"1d434c24.07a724","type":"function","z":"a2c63b09.0131c8","name":"CREATE AS INTERNAL USER","func":"let uid = msg.payload.uid;\nlet user = flow.get(\"USER\");\nmsg.payload.uid = uid;\nmsg.payload.username = user.username;\nmsg.payload.password = user.password;\nmsg.payload.email = user.email;\nmsg.payload.application_uid = global.get(\"SYS_APPLICATION_UID\");\nmsg.payload.createdby = global.get(\"SYS_USER_UID\");\nmsg.payload.updatedby = global.get(\"SYS_USER_UID\");\nmsg.topic = \"INSERT INTO user (`uid`, `email`, `password`, `application_uid`, `createdby`, `updatedby`)\"+\n            \"VALUES (:uid, :email, :password, :application_uid, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":640,"wires":[["172e4067.abad1"]]},{"id":"150459a2.6faac6","type":"uuid","z":"a2c63b09.0131c8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload.uid","fieldType":"msg","x":230,"y":640,"wires":[["1d434c24.07a724"]]},{"id":"172e4067.abad1","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":650,"y":640,"wires":[["b321ddb8.b622a"]],"outputLabels":["msg"]},{"id":"b321ddb8.b622a","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"code\": 200,\n    \"message\": \"Utente regisrato\"\n}","output":"str","x":250,"y":720,"wires":[["c34586ce.d14ce8"]]},{"id":"c34586ce.d14ce8","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":720,"wires":[["9ae465d5.6528d8"]]},{"id":"9ae465d5.6528d8","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":660,"y":720,"wires":[]},{"id":"1009e4d7.e4946b","type":"http in","z":"a2c63b09.0131c8","name":"RegistrationConfirm","url":"/register/confirm/:code","method":"get","upload":false,"swaggerDoc":"","x":130,"y":580,"wires":[["455b5d51.b58244"]]},{"id":"455b5d51.b58244","type":"function","z":"a2c63b09.0131c8","name":"SAVE TOKEN","func":"flow.set(\"R_TOKEN\", msg.req.params.code);\nmsg.payload = msg.req.params.code;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":580,"wires":[["a5025e5d.fa142"]]},{"id":"223696ef.a5d50a","type":"function","z":"a2c63b09.0131c8","name":"SAVE USER","func":"flow.set(\"USER\", msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":580,"wires":[["150459a2.6faac6"]]},{"id":"a5025e5d.fa142","type":"jwt verify","z":"a2c63b09.0131c8","name":"","alg":["RS512"],"jwkurl":"","secret":"","key":"/data/keys/jwt/id_rsa.pem","signvar":"payload","storetoken":"payload","x":510,"y":580,"wires":[["223696ef.a5d50a"]]},{"id":"3880c2ba.a49bae","type":"comment","z":"a2c63b09.0131c8","name":"CONFIRM USER","info":"","x":120,"y":540,"wires":[]},{"id":"af1fa8bd.1c4cb8","type":"comment","z":"a2c63b09.0131c8","name":"LOGIN USER","info":"","x":110,"y":800,"wires":[]},{"id":"7269e44b.b50cfc","type":"http in","z":"a2c63b09.0131c8","name":"LoginASUser","url":"/service/as/login","method":"post","upload":false,"swaggerDoc":"","x":110,"y":840,"wires":[["c10c5509.34f0c8"]]},{"id":"c10c5509.34f0c8","type":"function","z":"a2c63b09.0131c8","name":"SAVE USER DATA","func":"flow.set(\"USER\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":840,"wires":[["7284468a.92b7e8"]]},{"id":"7284468a.92b7e8","type":"md5","z":"a2c63b09.0131c8","name":"","fieldToHash":"USER.password","fieldTypeToHash":"flow","hashField":"USER.password","hashFieldType":"flow","x":450,"y":840,"wires":[["10befde3.a80882"]]},{"id":"10befde3.a80882","type":"function","z":"a2c63b09.0131c8","name":"GET USER","func":"let user = flow.get(\"USER\");\nuser.application_uid = global.get(\"SYS_APPLICATION_UID\");\nmsg.payload = user;\nflow.set(\"USER\", user);\nmsg.topic = `SELECT uid, email, application_uid\n             FROM user\n             WHERE email = :email AND password = :password\n             AND application_uid = :application_uid\n             AND enabled = 'Y'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":840,"wires":[["3fbcd093.cfef9"]]},{"id":"3fbcd093.cfef9","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":730,"y":840,"wires":[["39806dcf.441b52"]],"outputLabels":["msg"]},{"id":"7a8428f5.22c7d8","type":"switch","z":"a2c63b09.0131c8","name":"checkField","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":920,"wires":[["69a58d16.ad4a24"],["17cc59bd.ea1186"]]},{"id":"cfd21bd8.f50da8","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":900,"wires":[["2d7c9049.21f5a"]]},{"id":"2d7c9049.21f5a","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":720,"y":900,"wires":[]},{"id":"69a58d16.ad4a24","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"NO CORRESPONDENCE\",\n    \"code\": 100,\n    \"message\": \"emil o password errate\"\n}","output":"str","x":310,"y":900,"wires":[["cfd21bd8.f50da8"]]},{"id":"4f9c8e2d.bd0c9","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1040,"wires":[["7fd0e170.3628d"]]},{"id":"7fd0e170.3628d","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":980,"y":1040,"wires":[]},{"id":"17cc59bd.ea1186","type":"function","z":"a2c63b09.0131c8","name":"PREPER TOKEN DATA","func":"let user = flow.get(\"USER\");\nmsg.payload = {};\nmsg.payload = {\n    uid: user.uid,\n    email: user.email,\n    application_uid: user.application_uid\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":940,"wires":[["ddb47cc5.8ffe"]]},{"id":"ddb47cc5.8ffe","type":"jwt sign","z":"a2c63b09.0131c8","name":"JWT Sign","alg":"RS512","exp":"1d","jwkurl":"","jwkkid":"rsa_priv_key","secret":"","key":"/data/keys/jwt/id_rsa","signvar":"payload","storetoken":"payload","x":520,"y":940,"wires":[["8abf3215.ee101"]]},{"id":"8abf3215.ee101","type":"function","z":"a2c63b09.0131c8","name":"STORE TOKEN","func":"flow.set(\"TOKEN\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":940,"wires":[["3ecd32ee.73aece"]]},{"id":"8f54b527.04ba08","type":"function","z":"a2c63b09.0131c8","name":"CREATE SESSION","func":"let session = flow.get(\"SESSION\");\nmsg.payload = session;\nmsg.topic = \" INSERT INTO session\"+\n            \" (uid, token, user_uid, application_uid, createdby, updatedby)\"+\n            \" VALUES\"+\n            \" (:uid, :token, :user_uid, :application_uid, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":980,"wires":[["f62c84b0.44d4e8"]]},{"id":"f62c84b0.44d4e8","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":830,"y":980,"wires":[["43005ff5.bc5e7"]],"outputLabels":["msg"]},{"id":"3ecd32ee.73aece","type":"uuid","z":"a2c63b09.0131c8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload","fieldType":"msg","x":850,"y":940,"wires":[["4593e13d.d17c2"]]},{"id":"39806dcf.441b52","type":"function","z":"a2c63b09.0131c8","name":"SAVE USER DATA","func":"flow.set(\"USER\", msg.payload[0]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":840,"wires":[["7a8428f5.22c7d8"]]},{"id":"4593e13d.d17c2","type":"function","z":"a2c63b09.0131c8","name":"UPDATE OLD SESSION","func":"let user = flow.get(\"USER\");\nlet application_id = global.get(\"SYS_APPLICATION_UID\");\nlet token = flow.get(\"TOKEN\");\nlet session_uid = msg.payload;\nlet session = {\n    uid: session_uid,\n    token: token,\n    user_uid: user.uid,\n    createdby: global.get(\"SYS_USER_UID\"),\n    updatedby: global.get(\"SYS_USER_UID\"),\n    application_uid: user.application_uid\n};\nflow.set(\"SESSION\", session);\nmsg.payload = session;\nmsg.topic = \" UPDATE session SET enabled = 'N', updatedby = :updatedby\"+\n            \" WHERE user_uid = :user_uid \"+\n            \" AND application_uid = :application_uid \"+\n            \" AND enabled = 'Y'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":980,"wires":[["9509c813.41c828"]]},{"id":"9509c813.41c828","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":510,"y":980,"wires":[["8f54b527.04ba08"]],"outputLabels":["msg"]},{"id":"4052944.f75756c","type":"comment","z":"a2c63b09.0131c8","name":"CHECK A USER TOKEN BY APPLICATION_ID AND USER_ID","info":"","x":270,"y":1140,"wires":[]},{"id":"7f1d1852.309bf8","type":"http in","z":"a2c63b09.0131c8","name":"CheckToken","url":"/service/as/checktoken","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1180,"wires":[["775ecaf8.2f4144"]]},{"id":"775ecaf8.2f4144","type":"function","z":"a2c63b09.0131c8","name":"SAVE USER DATA","func":"let user = {\n    uid: msg.payload.userUid,\n    email: msg.payload.email,\n    token: msg.payload.token,\n    application_uid: global.get(\"SYS_APPLICATION_UID\")\n};\nflow.set(\"USER\", user);\nmsg.payload = user;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1180,"wires":[["2c2d0cbd.b5bf94"]]},{"id":"132510c7.e085df","type":"function","z":"1e34e0d6.03c12f","name":"GET ENABLE TOKEN","func":"let user = msg.payload;\nflow.set(\"USER\", user);\nmsg.payload = user;\nmsg.topic = \"SELECT count(uid) as numbertoken FROM session \"+\n            \" WHERE user_uid = :uid \"+\n            \" AND application_uid = :application_uid \"+\n            \" AND token = :token\"+\n            \" AND enabled = 'Y'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["bf6ff02c.4a637"]]},{"id":"bf6ff02c.4a637","type":"mysql","z":"1e34e0d6.03c12f","mydb":"ce639fcd.908a2","name":"as-db","x":730,"y":80,"wires":[["5f35845a.a5516c"]],"outputLabels":["msg"]},{"id":"5f35845a.a5516c","type":"switch","z":"1e34e0d6.03c12f","name":"checkEnabled","property":"payload[0].numbertoken","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":140,"wires":[["3ff9b6fd.2275ea"],["e6f7c914.052608"]]},{"id":"3ff9b6fd.2275ea","type":"template","z":"1e34e0d6.03c12f","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"code\": 210,\n    \"message\": \"Token disabilitato\"\n    \"token\": \"{{flow.USER.token}}\"\n}","output":"str","x":390,"y":120,"wires":[["256e96c.6ae406a"]]},{"id":"256e96c.6ae406a","type":"change","z":"1e34e0d6.03c12f","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[["58d526cb.9bf9e8"]]},{"id":"58d526cb.9bf9e8","type":"http response","z":"1e34e0d6.03c12f","name":"RESPONSE OK","statusCode":"200","headers":{},"x":800,"y":120,"wires":[]},{"id":"2d941934.f1c776","type":"jwt verify","z":"1e34e0d6.03c12f","name":"","alg":["RS512"],"jwkurl":"","secret":"","key":"/data/keys/jwt/id_rsa.pem","signvar":"payload","storetoken":"payload","x":570,"y":160,"wires":[[]]},{"id":"e6f7c914.052608","type":"function","z":"1e34e0d6.03c12f","name":"PREPARE TOKEN","func":"let user = flow.get(\"USER\");\nmsg.payload = user.token;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["2d941934.f1c776"]]},{"id":"7d151d85.dbe7f4","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"code\": 200,\n    \"message\": \"Token valido\"\n    \"token\": \"{{flow.USER.token}}\"\n}","output":"str","x":690,"y":1180,"wires":[["3f84a76e.f0bba8"]]},{"id":"3f84a76e.f0bba8","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1180,"wires":[["3aa87af1.391a36"]]},{"id":"3aa87af1.391a36","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":1100,"y":1180,"wires":[]},{"id":"43005ff5.bc5e7","type":"function","z":"a2c63b09.0131c8","name":"GET USER","func":"msg.payload = {\n    user_uid: flow.get(\"SESSION\").user_uid,\n    application_uid: global.get(\"SYS_APPLICATION_UID\"),\n    enabled: 'Y'\n}\nmsg.topic = \"SELECT u.uid as user_uid, u.email, s.token\"+\n            \" FROM user u\"+\n            \" JOIN session as s ON u.uid = s.user_uid \"+\n            \" WHERE s.application_uid = :application_uid \"+\n            \" AND u.uid = :user_uid \"+\n            \" AND s.enabled = :enabled \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1040,"wires":[["c3d4c73.b0f4d38"]]},{"id":"c3d4c73.b0f4d38","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":430,"y":1040,"wires":[["aae6aa54.3c97c8"]],"outputLabels":["msg"]},{"id":"aae6aa54.3c97c8","type":"function","z":"a2c63b09.0131c8","name":"SEND USER","func":"let response = {\n    \"code\": 200,\n    \"message\": \"Accesso effettuato\",\n    \"user\": {\n        \"userUid\": msg.payload[0].user_uid,\n        \"token\": msg.payload[0].token,\n        \"email\": msg.payload[0].email\n    }\n}\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1040,"wires":[["4f9c8e2d.bd0c9"]]},{"id":"ebe0f58d.dbf638","type":"catch","z":"a2c63b09.0131c8","name":"INVALID OR EXPIRED TOKEN","scope":["2c2d0cbd.b5bf94"],"uncaught":false,"x":170,"y":1240,"wires":[["a9564e62.54e"]]},{"id":"a9564e62.54e","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"code\": 210,\n    \"message\": \"Token scaduto\"\n    \"token\": \"{{flow.USER.token}}\"\n}","output":"str","x":170,"y":1280,"wires":[["178984ab.66b2db"]]},{"id":"178984ab.66b2db","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1280,"wires":[["9ee74840.d2d478"]]},{"id":"9ee74840.d2d478","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":580,"y":1280,"wires":[]},{"id":"2c2d0cbd.b5bf94","type":"subflow:1e34e0d6.03c12f","z":"a2c63b09.0131c8","name":"CHECK AS TOKEN","env":[],"x":490,"y":1180,"wires":[["7d151d85.dbe7f4"]]},{"id":"66cd5cc3.00bf94","type":"comment","z":"a2c63b09.0131c8","name":"LOGOUT USER","info":"","x":120,"y":1340,"wires":[]},{"id":"b6a7b80c.4ccb88","type":"http in","z":"a2c63b09.0131c8","name":"LogoutASUser","url":"/service/as/logout","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1380,"wires":[["ef3ed34c.51cf4"]]},{"id":"ef3ed34c.51cf4","type":"function","z":"a2c63b09.0131c8","name":"SAVE USER DATA","func":"let user = {\n    uid: msg.payload.userUid,\n    email: msg.payload.email,\n    token: msg.payload.token,\n    application_uid: global.get(\"SYS_APPLICATION_UID\")\n};\nflow.set(\"USER\", user);\nmsg.payload = user;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1380,"wires":[["11996cbc.e26b83"]]},{"id":"11996cbc.e26b83","type":"subflow:1e34e0d6.03c12f","z":"a2c63b09.0131c8","name":"CHECK AS TOKEN","env":[],"x":510,"y":1380,"wires":[["b8089e14.ef376"]]},{"id":"b8089e14.ef376","type":"function","z":"a2c63b09.0131c8","name":"AS USER LOGOUT","func":"let user = flow.get(\"USER\");\nmsg.payload = user;\nmsg.payload.updatedby = global.get(\"SYS_USER_UID\");\nmsg.topic = \"UPDATE session SET enabled = 'N', updatedby = :updatedby \"+\n            \" AND updatedby = :updatedby\"+\n            \" WHERE user_uid = :uid \"+\n            \" AND application_uid = :application_uid \"+\n            \" AND enabled = 'Y'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1380,"wires":[["f82057a4.13cae8"]]},{"id":"c5135a2b.5bd1c8","type":"catch","z":"a2c63b09.0131c8","name":"INVALID OR EXPIRED TOKEN","scope":["11996cbc.e26b83"],"uncaught":false,"x":170,"y":1460,"wires":[["85d32305.ee2d5"]]},{"id":"85d32305.ee2d5","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"code\": 210,\n    \"message\": \"Token scaduto\"\n    \"token\": \"{{flow.USER.token}}\"\n}","output":"str","x":170,"y":1500,"wires":[["70bc1461.87ddfc"]]},{"id":"70bc1461.87ddfc","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1500,"wires":[["e93b1f8.eb64be"]]},{"id":"e93b1f8.eb64be","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":580,"y":1500,"wires":[]},{"id":"f82057a4.13cae8","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":890,"y":1380,"wires":[["49dcb0da.ce62e"]],"outputLabels":["msg"]},{"id":"49dcb0da.ce62e","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"code\": 200,\n    \"message\": \"Logged out\"\n}","output":"str","x":1050,"y":1380,"wires":[["c041055d.a9c4c8"]]},{"id":"c041055d.a9c4c8","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1380,"wires":[["c16a5292.2ddd8"]]},{"id":"c16a5292.2ddd8","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":1460,"y":1380,"wires":[]}]