nodered_data/.flows.json.backup
[{"id":"f6f2187d.f17ca8","type":"tab","label":"START","disabled":false,"info":""},{"id":"a2c63b09.0131c8","type":"tab","label":"AS USER SERVICES","disabled":false,"info":""},{"id":"5a455541.3fdcac","type":"tab","label":"PEM Key","disabled":false,"info":""},{"id":"ce639fcd.908a2","type":"MySQLdatabase","name":"as-db","host":"10.5.0.5","port":"3306","db":"as-db","tz":"","charset":"UTF8"},{"id":"dac468d3.f007c8","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":590,"y":100,"wires":[["a8d2db08.9351a8"]]},{"id":"a8d2db08.9351a8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"cfbb1ee1.83a21","type":"function","z":"f6f2187d.f17ca8","name":"CREAZIONE TABELLE","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = {};\nmsg.topic = `\nCREATE TABLE IF NOT EXISTS application (\n  uid varchar(255) PRIMARY KEY,\n  name varchar(255),\n  code varchar(255),\n  enabled char(1) DEFAULT 'Y',\n  issystem char(1) DEFAULT 'N',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255)\n);\n\nCREATE TABLE IF NOT EXISTS user (\n  uid varchar(255) PRIMARY KEY,\n  username varchar(255),\n  email varchar(255) NOT NULL,\n  password varchar(255) NOT NULL,\n  issystem char(1) DEFAULT 'N',\n  isadmin char(1) DEFAULT 'N',\n  enabled char(1) DEFAULT 'Y',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255),\n  application_uid varchar(255),\n  FOREIGN KEY (application_uid) REFERENCES application(uid) ON DELETE CASCADE\n);\n\nCREATE TABLE IF NOT EXISTS session (\n  uid varchar(255) PRIMARY KEY,\n  token text,\n  expiredin varchar(255),\n  enabled char(1) DEFAULT 'Y',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255),\n  user_uid varchar(255),\n  FOREIGN KEY (user_uid) REFERENCES user(uid) ON DELETE CASCADE\n);\n\nCREATE TABLE IF NOT EXISTS as_application_user (\n  as_application_uid varchar(255),\n  as_user_uid varchar(255),\n  enabled char(1) DEFAULT 'Y',\n  created datetime DEFAULT CURRENT_TIMESTAMP,\n  createdby varchar(255),\n  updated datetime ON UPDATE CURRENT_TIMESTAMP,\n  updatedby varchar(255),\n  CONSTRAINT PK_Person PRIMARY KEY (as_application_uid,as_user_uid),\n  FOREIGN KEY (as_application_uid) REFERENCES application(uid) ON DELETE CASCADE,\n  FOREIGN KEY (as_user_uid) REFERENCES user(uid) ON DELETE CASCADE\n);`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["dac468d3.f007c8"]]},{"id":"d823a62f.100f98","type":"comment","z":"f6f2187d.f17ca8","name":"Creazione tabelle","info":"Creo le tabelle se non esistono","x":120,"y":60,"wires":[]},{"id":"11fcf7c0.688718","type":"inject","z":"f6f2187d.f17ca8","name":"AVVIO DEL SERVER","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payloadType":"str","x":140,"y":100,"wires":[["cfbb1ee1.83a21"]]},{"id":"2c1d26c9.0a49da","type":"comment","z":"f6f2187d.f17ca8","name":"CONTROLLO SE L'UTENTE DI SISTEMA ESISTE","info":"","x":230,"y":160,"wires":[]},{"id":"74c28834.99a768","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM user WHERE issystem = 'Y' AND enabled = 'N'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["a8646f2c.bf7c7"]]},{"id":"a8646f2c.bf7c7","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"as-db","x":530,"y":200,"wires":[["eeb8eca3.23f8d"]],"outputLabels":["msg"]},{"id":"55663871.918b38","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"eeb8eca3.23f8d","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":280,"wires":[["a294dc7d.fa02f"]]},{"id":"83d3f528.c053e8","type":"function","z":"f6f2187d.f17ca8","name":"CREATE SYSTEM USER","func":"let uid = msg.payload;\nmsg.payload = {};\nmsg.payload.uid = uid;\nmsg.payload.username = 'SYSTEM';\nmsg.payload.email = 'system@system.it';\nmsg.payload.password = 'syspwd';\nmsg.payload.issystem = 'Y';\nmsg.payload.isadmin = 'Y';\nmsg.payload.enable = 'N';\nmsg.payload.createdby = uid;\nmsg.payload.updatedby = uid;\nmsg.topic = \"INSERT INTO user (`uid`, `username`, `email`, `password`, `issystem`, `isadmin`, `enabled`, `createdby`, `updatedby`)\"+\n            \"VALUES (:uid, :username, :email, :password, :issystem, :isadmin, :enable, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":280,"wires":[["294a1a72.ce3756"]]},{"id":"a294dc7d.fa02f","type":"uuid","z":"f6f2187d.f17ca8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload","fieldType":"msg","x":270,"y":280,"wires":[["83d3f528.c053e8"]]},{"id":"9e4abe70.df459","type":"comment","z":"f6f2187d.f17ca8","name":"CONTROLLO SE L'APPLICAZIONE DI SISTEMA ESISTE","info":"","x":250,"y":340,"wires":[]},{"id":"4ea5075b.3fa458","type":"inject","z":"f6f2187d.f17ca8","name":"APPLICAZIONE SISTEMA","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","x":160,"y":380,"wires":[["13c7e7cf.574808"]]},{"id":"13c7e7cf.574808","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM APPLICATION UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM application WHERE issystem = 'Y' AND enabled = 'Y'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["b808d9cb.1c26f8"]]},{"id":"b808d9cb.1c26f8","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":650,"y":380,"wires":[["3bf71bf6.a96ae4"]]},{"id":"790d13a6.0be3bc","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"3bf71bf6.a96ae4","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":460,"wires":[["549d0eb5.2621f"]]},{"id":"294a1a72.ce3756","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":650,"y":280,"wires":[["55663871.918b38"]]},{"id":"ace0b884.f7d2e8","type":"comment","z":"f6f2187d.f17ca8","name":"SE L'UTENTE DI SISTEMA NON ESISTE NE CREO UNO","info":"","x":270,"y":240,"wires":[]},{"id":"edc01346.b3a02","type":"comment","z":"f6f2187d.f17ca8","name":"SE L'APPLICAZIONE DI SISTEMA NON ESISTE NE CREO UNA","info":"","x":290,"y":420,"wires":[]},{"id":"549d0eb5.2621f","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM user WHERE issystem = 'Y' AND enabled = 'N'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":460,"wires":[["2a7dfeae.28d8e2"]]},{"id":"2a7dfeae.28d8e2","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"as-db","x":490,"y":460,"wires":[["a05a519a.41379"]],"outputLabels":["msg"]},{"id":"a05a519a.41379","type":"function","z":"f6f2187d.f17ca8","name":"SAVE SYSTEM USER UID","func":"flow.set(\"SYS_USER_UID\", msg.payload[0].uid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":460,"wires":[["6bec6507.ff0c0c"]]},{"id":"6bec6507.ff0c0c","type":"uuid","z":"f6f2187d.f17ca8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload","fieldType":"msg","x":890,"y":460,"wires":[["aa2f4bd2.009698"]]},{"id":"82ccc313.d266e","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":450,"y":520,"wires":[["790d13a6.0be3bc"]]},{"id":"aa2f4bd2.009698","type":"function","z":"f6f2187d.f17ca8","name":"CREATE SYSTEM APPLICATION","func":"let SystemUserUid = flow.get(\"SYS_USER_UID\");\nlet uid = msg.payload;\nmsg.payload = {};\nmsg.payload.applicationuid = uid;\nmsg.payload.name = 'Authorization Service';\nmsg.payload.code = '0000000000';\nmsg.payload.enabled = 'Y';\nmsg.payload.issystem = 'Y';\nmsg.payload.createdby = SystemUserUid;\nmsg.payload.updatedby = SystemUserUid;\nmsg.topic = \"INSERT INTO application (`uid`, `name`, `code`, `enabled`, `issystem`, `createdby`, `updatedby`)\"+\n            \"VALUES (:applicationuid, :name, :code, :enabled, :issystem, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":520,"wires":[["82ccc313.d266e"]]},{"id":"3134a704.547138","type":"inject","z":"f6f2187d.f17ca8","name":"UTENTE SISTEMA","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"str","x":130,"y":200,"wires":[["74c28834.99a768"]]},{"id":"dd43d80c.b26f18","type":"inject","z":"f6f2187d.f17ca8","name":"ID SISTEMA","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":110,"y":580,"wires":[["bd901deb.47d57"]]},{"id":"bd901deb.47d57","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM APPLICATION UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM application WHERE issystem = 'Y' AND enabled = 'Y'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":580,"wires":[["1d5f0e96.5d9cc1"]]},{"id":"1d5f0e96.5d9cc1","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"","x":590,"y":580,"wires":[["82f0ce2d.cee1d"]]},{"id":"82f0ce2d.cee1d","type":"function","z":"f6f2187d.f17ca8","name":"SAVE APPLICATION UID ON GLOBAL","func":"global.set(\"SYS_APPLICATION_UID\", msg.payload[0].uid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":580,"wires":[["7432c3f0.80e9ac"]]},{"id":"7432c3f0.80e9ac","type":"function","z":"f6f2187d.f17ca8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload = [];\nmsg.topic = `SELECT uid FROM user WHERE issystem = 'Y' AND enabled = 'N'`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["3a336360.0a0a3c"]]},{"id":"3a336360.0a0a3c","type":"mysql","z":"f6f2187d.f17ca8","mydb":"ce639fcd.908a2","name":"as-db","x":510,"y":640,"wires":[["d045486.fea21b8"]],"outputLabels":["msg"]},{"id":"d045486.fea21b8","type":"function","z":"f6f2187d.f17ca8","name":"SAVE SYSTEM USER UID ON GLOBAL","func":"global.set(\"SYS_USER_UID\", msg.payload[0].uid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":640,"wires":[["448710d3.dba86"]]},{"id":"448710d3.dba86","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":640,"wires":[]},{"id":"ea02505c.b8516","type":"function","z":"a2c63b09.0131c8","name":"CheckUserData","func":"let user = msg.payload;\nif (user.email == user.emailCheck && user.password == user.passwordCheck) {\n    msg.payload.isok = 1;\n    flow.set(\"USER\", msg.payload);\n} else {\n    msg.payload.isok = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["b1dc53f2.7e5da"]]},{"id":"b1dc53f2.7e5da","type":"switch","z":"a2c63b09.0131c8","name":"ValidUser?","property":"payload.isok","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":200,"wires":[["cace62b9.d458a"],["d1f228b0.94d688"]]},{"id":"7f2c0a4a.651c34","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":160,"wires":[["e92db04f.d1ef7"]]},{"id":"e92db04f.d1ef7","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":1060,"y":160,"wires":[]},{"id":"cace62b9.d458a","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"NO CORRESPONDENCE\",\n    \"code\": 100,\n    \"message\": \"L'email o la password non corrispondono\"\n}","output":"str","x":650,"y":160,"wires":[["7f2c0a4a.651c34"]]},{"id":"b7625f29.4bd5d","type":"http in","z":"a2c63b09.0131c8","name":"RegisterASUser","url":"/service/as/register","method":"post","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["ea02505c.b8516"]]},{"id":"9eba5dc6.8e02f","type":"catch","z":"a2c63b09.0131c8","d":true,"name":"ERRORE","scope":["ea02505c.b8516","b1dc53f2.7e5da","7f2c0a4a.651c34","e92db04f.d1ef7","cace62b9.d458a","b7625f29.4bd5d","3813264b.829d0a","fe3587a.0434f78","8ff608e3.b0c2e8","5e703441.70d89c","399a62e0.3f079e","d088856e.f53788","2e319610.a4ceba","a7f09e2f.4e2ab","d1f228b0.94d688","a52acba6.ab6148","2fcff6b6.fe8fca","75e751c.6ebc6b","483d02c2.10ed3c","45167615.a53658","69bdde5b.37398"],"uncaught":false,"x":800,"y":380,"wires":[["a7f09e2f.4e2ab","69bdde5b.37398"]]},{"id":"2e319610.a4ceba","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":1160,"y":380,"wires":[]},{"id":"a7f09e2f.4e2ab","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"ERROR ON REGISTER USER\",\n    \"code\": 100,\n    \"message\": \"C'è stato un errore nel regisrare l'utente\",\n    \"info\": \"ERROR\"\n}","output":"json","x":970,"y":380,"wires":[["2e319610.a4ceba"]]},{"id":"d1f228b0.94d688","type":"function","z":"a2c63b09.0131c8","name":"GET SYSTEM USER UID","func":"// Creo le tabelle del database se non esistono\n// Creo o affiorno le chiavi esterne\nmsg.payload.application_uid = global.get(\"SYS_APPLICATION_UID\")\nmsg.topic = `SELECT COUNT(uid) as numberusers FROM user WHERE application_uid = :application_uid AND email = :email`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["a52acba6.ab6148"]]},{"id":"a52acba6.ab6148","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":530,"y":200,"wires":[["2fcff6b6.fe8fca"]],"outputLabels":["msg"]},{"id":"2fcff6b6.fe8fca","type":"switch","z":"a2c63b09.0131c8","name":"AlreadyExists?","property":"payload[0].numberusers","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":280,"wires":[["75e751c.6ebc6b"],["6d5f71d8.e3cad"]]},{"id":"75e751c.6ebc6b","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"error\": \"ALREADY EXISTS\",\n    \"code\": 100,\n    \"message\": \"L'email inserita è già associata ad un utente\"\n}","output":"str","x":550,"y":260,"wires":[["483d02c2.10ed3c"]]},{"id":"483d02c2.10ed3c","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["45167615.a53658"]]},{"id":"45167615.a53658","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE KO","statusCode":"400","headers":{},"x":960,"y":260,"wires":[]},{"id":"69bdde5b.37398","type":"debug","z":"a2c63b09.0131c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":420,"wires":[]},{"id":"6ca99322.d32c9c","type":"comment","z":"a2c63b09.0131c8","name":"REGISTRARE UN NUOVO UTENTE PER AS","info":"","x":210,"y":80,"wires":[]},{"id":"a698d747.729878","type":"comment","z":"a2c63b09.0131c8","name":"CONTROLLO SE I CAMPI INSERITI CORRISPONDONO","info":"","x":290,"y":160,"wires":[]},{"id":"4d41dd0f.94b6d4","type":"comment","z":"a2c63b09.0131c8","name":"CONTROLLO SE L'UTENTE ESISTE GIA'","info":"","x":280,"y":240,"wires":[]},{"id":"58ed4d67.0f7854","type":"e-mail","z":"a2c63b09.0131c8","server":"smtp.vivaldi.net","port":"465","secure":true,"tls":true,"name":"","dname":"VIVALDI EMAIL","x":600,"y":380,"wires":[]},{"id":"cd01d7b1.8d9858","type":"function","z":"a2c63b09.0131c8","name":"Set recipient","func":"msg.topic = \"Conferma registrazione\"\nmsg.to = \"saverio.dibellasdb98@gmail.com\"\nmsg.from = \"dibe98@vivaldi.net\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":380,"wires":[["58ed4d67.0f7854","113fe4b3.1b4a9b"]]},{"id":"404951ac.0aba2","type":"template","z":"a2c63b09.0131c8","name":"HTML EMAIL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Registrazione</title>\n    </head>\n    <body>\n        <h1>Fai click sul link qua sotto per comnfermare la tua registrazione</h1>\n        \n        <p>Conferma registrazione: {{payload.confirmLink}}</p>\n    </body>\n</html>","output":"str","x":240,"y":380,"wires":[["cd01d7b1.8d9858"]]},{"id":"5cc48da3.bbd584","type":"function","z":"a2c63b09.0131c8","name":"CREATE CONFIRM LINK","func":"let token = msg.payload;\nmsg.payload = {};\nmsg.payload.confirmLink = `http://localhost:1880/register/confirm/${token}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":320,"wires":[["404951ac.0aba2"]]},{"id":"811e193b.a678a8","type":"function","z":"a2c63b09.0131c8","name":"PREPER TOKEN DATA","func":"let user = flow.get(\"USER\");\nmsg.payload = user\ndelete user.emailCheck;\ndelete user.passwordCheck;\ndelete user.isok;\nflow.set(\"USER\", user);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["bb9c6f92.b3aec"]]},{"id":"bb9c6f92.b3aec","type":"jwt sign","z":"a2c63b09.0131c8","name":"JWT Sign","alg":"RS512","exp":"600000","jwkurl":"","jwkkid":"rsa_priv_key","secret":"","key":"/data/keys/id_rsa","signvar":"payload","storetoken":"payload","x":720,"y":320,"wires":[["5cc48da3.bbd584"]]},{"id":"113fe4b3.1b4a9b","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"code\": 200,\n    \"message\": \"Confermare registrazione. Abbiamo inviato una email al tuo indirizzo\"\n}","output":"str","x":270,"y":440,"wires":[["a0a9f42.4877c08"]]},{"id":"a0a9f42.4877c08","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["8b7d3b21.051d58"]]},{"id":"8b7d3b21.051d58","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":680,"y":440,"wires":[]},{"id":"6d5f71d8.e3cad","type":"md5","z":"a2c63b09.0131c8","name":"","fieldToHash":"USER.password","fieldTypeToHash":"flow","hashField":"USER.password","hashFieldType":"flow","x":350,"y":320,"wires":[["811e193b.a678a8"]]},{"id":"1d434c24.07a724","type":"function","z":"a2c63b09.0131c8","name":"CREATE AS INTERNAL USER","func":"let uid = msg.payload.uid;\nlet user = flow.get(\"USER\");\nmsg.payload.uid = uid;\nmsg.payload.username = user.username;\nmsg.payload.password = user.password;\nmsg.payload.email = user.email;\nmsg.payload.application_uid = global.get(\"SYS_APPLICATION_UID\");\nmsg.payload.createdby = global.get(\"SYS_USER_UID\");\nmsg.payload.updatedby = global.get(\"SYS_USER_UID\");\nmsg.topic = \"INSERT INTO user (`uid`, `email`, `password`, `application_uid`, `createdby`, `updatedby`)\"+\n            \"VALUES (:uid, :email, :password, :application_uid, :createdby, :updatedby)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":600,"wires":[["172e4067.abad1"]]},{"id":"150459a2.6faac6","type":"uuid","z":"a2c63b09.0131c8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"GEN UUID","field":"payload.uid","fieldType":"msg","x":230,"y":600,"wires":[["1d434c24.07a724"]]},{"id":"172e4067.abad1","type":"mysql","z":"a2c63b09.0131c8","mydb":"ce639fcd.908a2","name":"as-db","x":650,"y":600,"wires":[["b321ddb8.b622a"]],"outputLabels":["msg"]},{"id":"b321ddb8.b622a","type":"template","z":"a2c63b09.0131c8","name":"RESPONSE JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"code\": 200,\n    \"message\": \"Utente regisrato\"\n}","output":"str","x":250,"y":680,"wires":[["c34586ce.d14ce8"]]},{"id":"c34586ce.d14ce8","type":"change","z":"a2c63b09.0131c8","name":"SetToApplicationJson","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":680,"wires":[["9ae465d5.6528d8"]]},{"id":"9ae465d5.6528d8","type":"http response","z":"a2c63b09.0131c8","name":"RESPONSE OK","statusCode":"200","headers":{},"x":660,"y":680,"wires":[]},{"id":"1009e4d7.e4946b","type":"http in","z":"a2c63b09.0131c8","name":"RegistrationConfirm","url":"/register/confirm/:code","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["455b5d51.b58244"]]},{"id":"455b5d51.b58244","type":"function","z":"a2c63b09.0131c8","name":"SAVE TOKEN","func":"flow.set(\"R_TOKEN\", msg.req.params.code);\nmsg.payload = msg.req.params.code;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["300bc314.e2e07c","a5025e5d.fa142"]]},{"id":"223696ef.a5d50a","type":"function","z":"a2c63b09.0131c8","name":"SAVE USER","func":"flow.set(\"USER\", msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":540,"wires":[["150459a2.6faac6"]]},{"id":"80bf01d0.25349","type":"debug","z":"a2c63b09.0131c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":500,"wires":[]},{"id":"300bc314.e2e07c","type":"debug","z":"a2c63b09.0131c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":500,"wires":[]},{"id":"254d3459.0f6a6c","type":"inject","z":"5a455541.3fdcac","name":"Sign and Validate","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":159,"y":213,"wires":[["b41b1ce9.4af46"]]},{"id":"952eeded.4e3b8","type":"jwt sign","z":"5a455541.3fdcac","name":"","alg":"RS512","exp":"3601","jwkurl":"","jwkkid":"rsa_priv_key","secret":"","key":"rsa_priv_key","signvar":"payload","storetoken":"payload","x":558,"y":212,"wires":[["923d5346.7095a","d6f89849.4d8f88"]]},{"id":"923d5346.7095a","type":"debug","z":"5a455541.3fdcac","name":"Debug Signed JWT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":212,"wires":[]},{"id":"d6f89849.4d8f88","type":"jwt verify","z":"5a455541.3fdcac","name":"","alg":["RS512"],"jwkurl":"","secret":"","key":"rsa_pub_key","signvar":"payload","storetoken":"payload","x":554,"y":318,"wires":[["c4e176.85833e88"]]},{"id":"c4e176.85833e88","type":"debug","z":"5a455541.3fdcac","name":"Debug Validated JWT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":784,"y":318,"wires":[]},{"id":"b41b1ce9.4af46","type":"template","z":"5a455541.3fdcac","name":"Create Claims","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"sub\":\"user\",\"iss\":\"http://nodered.nulli.com:1880/oauth2\",\"tokenName\":\"id_token\",\"aud\":\"client\",\"azp\":\"client\",\"tokenType\":\"JWTToken\"}","output":"json","x":352,"y":213,"wires":[["952eeded.4e3b8"]]},{"id":"4bda0708.c98b08","type":"file","z":"5a455541.3fdcac","name":"","filename":"rsa_priv_key","appendNewline":false,"createDir":false,"overwriteFile":"true","x":707,"y":82,"wires":[[]]},{"id":"27b80fdd.cf946","type":"inject","z":"5a455541.3fdcac","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Create Key Files","payload":"","payloadType":"str","x":166,"y":84,"wires":[["394036c2.6c15ea","48b5f522.c8aa7c"]]},{"id":"394036c2.6c15ea","type":"template","z":"5a455541.3fdcac","name":"RSA Private Key","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCAQEA2+d7uinqCDZYnZpyqCGnoeAR+aCWDC0YI7ZqKzH2RyjcHOpI\nIoswrPRZgF56y1x87a/QatPZmNmctEeNSNOM1qHfZSyxHCEyqENiNS3PEzUJ9RHK\nB7eDHKZGeQYhOmtXqm3zB8ORtVrngvDBsZT9A686p7Zo21ESOlXFZBieRVyimrEe\nJqcSwKq4gYG8GU7lc7r1fZCi81KL5K/6dxdMrmQeMYXgetH5SPIBFo4Mq47oJqiV\n48T87zCFHEzEikC+f1bbsNmOfryAwZtzTHQ7i/AU6kpOiNRMizC/cP7SNodc01Mk\nE1IXAv4fXTvEcmxTyRWPp2kiPR5oZ1R76B6v3wIDAQABAoIBAG1etQ/DFu3csbg4\n/7uVeX0uJ2KDNv15VB8285jmMXn03XzYHOZpWd07bmRFGUeZiVzh64OmN/wohyK2\nz5Mf/FUnjycP0kqOTFaZpPeUAACqiXhEz7mE0QXnwPciUFZw2tod8xiycP7E5o4e\nVgePdUNm3IJbW81wheNTk2gUQmt2Giwiu8ilcvPXyvNKBRLw+XM7UXINYtBk/7xM\ntcYd19mmjumUUXK4cw4qhoNE3l+GfCJ8S+FjCazLFCFnAe2CKX3CeJv7paoxenit\niQ6lQk1nhdN4+T5CnrTao1P9nBZiBqtvOICRDc+9QgMKHmmuPzPeYuqmGPd6F8s7\nMIQ4xvECgYEA8lxCg5sH4MUZbNFSn3fkP/iisiRzth4TXHv9OmdcRdTRSJrWXxND\nWbTb+Alj5vP4mBgxMTcycPS/qLSInQJaXjxEF4aQlBNLj4iZRvZENkseKrju+MyO\nJGOmcnkzfFiZLb/TLFMhBBpfVPItZci1kBE8/Mz6b9S1PmZnBWjdJfkCgYEA6Eex\nTtySIyLq/VQcuw+fgCI0lkZ0Ctg/nbs1YHbfMcyih60bWRsDX9KvexWy60nUQHNu\n/pc73rSW8ggIfTqx2UTHJTiNwBLm/XE2HxPnzcB6zf9CBhgqoQPxgBWfxtaiGCGR\nMyrsNxXt49LMUn2p6JNuLXtaKWweDfJbziLiGpcCgYEAkQFIPouENCRZKPU4lPbb\nlrbBSQpsPNtTxDLe+JGc8J77NJCHkEzrMAH41jdwEV+JLh7TV9npkRGullaloiMl\nRFqUdurpF99Phyo4Yu+3MjDRdMg/GpbwuK7yiG0hs9UimO+7fjqid1z8Csv3A34J\nu4/EyJAvirdeVV5ZZzAtmKkCgYEAmzIrmdFuIuPVtmVYvPN3UpmIIU/5gLVz6+OF\nimpiPlfH0Hcs6qBN5NxUOx0IaoTtuBJoetp5OhfXMueDJIjvA4gctxXOQCNhCr11\nt9YI70RHyRNf/cpv0R1dYoMQOj52F0F2ToXDRhr001+o/QTRXYAEAYeFel+uxQrF\npDlScQkCgYA7JewsTmXZyCfUytL9r+SxNjZLicmw2JALGBwavY5rZtSFKsmPr/zV\nDwjP9gtV6T/ObEshwDonI0tsDq6KOJB/8AI97uwcPa1c8x0jnfvRe9uoZ/qiKA+X\nqwqVkk/b6KowQo/XFMFa05batx2Xs41m5pQ/sSQPuR0FWHFVmKTF8g==\n-----END RSA PRIVATE KEY-----\n","output":"str","x":480,"y":83,"wires":[["4bda0708.c98b08"]]},{"id":"fd70bdee.e7ebd","type":"file","z":"5a455541.3fdcac","name":"","filename":"rsa_pub_key","appendNewline":false,"createDir":false,"overwriteFile":"true","x":706,"y":131,"wires":[[]]},{"id":"48b5f522.c8aa7c","type":"template","z":"5a455541.3fdcac","name":"RSA Public Key","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2+d7uinqCDZYnZpyqCGn\noeAR+aCWDC0YI7ZqKzH2RyjcHOpIIoswrPRZgF56y1x87a/QatPZmNmctEeNSNOM\n1qHfZSyxHCEyqENiNS3PEzUJ9RHKB7eDHKZGeQYhOmtXqm3zB8ORtVrngvDBsZT9\nA686p7Zo21ESOlXFZBieRVyimrEeJqcSwKq4gYG8GU7lc7r1fZCi81KL5K/6dxdM\nrmQeMYXgetH5SPIBFo4Mq47oJqiV48T87zCFHEzEikC+f1bbsNmOfryAwZtzTHQ7\ni/AU6kpOiNRMizC/cP7SNodc01MkE1IXAv4fXTvEcmxTyRWPp2kiPR5oZ1R76B6v\n3wIDAQAB\n-----END PUBLIC KEY-----\n","output":"str","x":479,"y":132,"wires":[["fd70bdee.e7ebd"]]},{"id":"a5025e5d.fa142","type":"jwt verify","z":"a2c63b09.0131c8","name":"","alg":["RS512"],"jwkurl":"","secret":"","key":"/data/keys/id_rsa.pem","signvar":"payload","storetoken":"payload","x":510,"y":540,"wires":[["223696ef.a5d50a","80bf01d0.25349"]]},{"id":"3cfadfc0.f929b","type":"inject","z":"a2c63b09.0131c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":780,"wires":[["e665a935.d07ac8"]]},{"id":"351be33d.2e86bc","type":"debug","z":"a2c63b09.0131c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":780,"wires":[]},{"id":"e665a935.d07ac8","type":"file in","z":"a2c63b09.0131c8","name":"id_rsa.pem","filename":"/data/keys/id_rsa.pem","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":780,"wires":[["351be33d.2e86bc"]]}]